* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orandzine: #ff4522;
  --plotis: 1000px;
  --soninis-atstumas: calc((100% - var(--plotis)) / 2);
  --text-width: calc(var(--plotis) * 0.4);
  --image-width: calc(100% - var(--plotis) / 2);
  --main-width: calc(100% - var(--soninis-atstumas));
  --text-margin: calc(var(--plotis) * 0.1);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #595372;
  background-color: #ffffff;
}

header {
  display: inline-block;
  width: var(--plotis);
  margin-left: var(--soninis-atstumas);
}

.nav {
  display: inline-block;
  width: var(--plotis);
}

.logo {
  display: inline-block;
  float: left;
}

.logo_icon {
  display: inline-block;
}

.logo_words {
  display: inline-block;
}

.btn {
  display: inline-block;
  float: right;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: #595372;
  margin: 0;
}

a:first-child {
  border-bottom: 2px solid var(--orandzine);
}

a:hover {
  border-bottom: 2px solid var(--orandzine);
}

a + a {
  margin-left: 30px;
}

main {
  display: inline-block;
  margin-left: var(--soninis-atstumas);
  width: var(--main-width);
}

.img {
  display: inline-block;
  width: var(--image-width);
}

span {
  color: var(--orandzine);
}

.text {
  display: inline-block;
  margin-top: 7%;
  width: var(--text-width);
  margin-right: var(--text-margin);
  font-size: 18px;
  float: left;
}

.text h2 {
  width: 100%;
  font-size: 36px;
}

.orange_btn {
  background-color: var(--orandzine);
  width: 180px;
  text-align: center;
  padding: 10px;
  margin-top: 80px;
}

.orange_btn a {
  color: #ffffff;
}
